.fordform {
    display: block;
    width: 300px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    height: 26px;
    margin: 8px;
    font-size: 13.5px;
    padding: 5px;
    font-family: "roboto";
}

select.fordform {
    width: 310px;
    height: 36px;
    color: #807d7d;
}

textarea.fordform {
    height: 100px;
    resize: none;
}

input:focus-visible {
    outline: none;
}

select:focus-visible {
    outline: none;
}

textarea:focus-visible {
    outline: none;
}

main div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.forms {
    display: block;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
}

h2 {
    text-align: left;
    font-weight: 800;
}

.termos {
    max-width: 300px;
    font-size: 1.2vh;
}

.checkboxcontato {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

button {
    width: 200px;
    height: 40px;
    margin-right: 8px;
    float: right;
    margin-top: 1vh;
    cursor: pointer;
}

.titulo {
    margin-left: 8px;
}